@import "tailwindcss";

body{
  overflow: hidden;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: textfield; /* Safari, Chrome */
  appearance: textfield; /* Chuẩn chung */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}